{
    "BDSKNoteTableDisplayController" = {    
        DisplayableEntities = ("Note");
        Bindings = ();
    };
    "BDSKPersonTableDisplayController" = {    
        DisplayableEntities = ("Person");
        Bindings = ();
    };
    "BDSKPublicationTableDisplayController" = { 
        DisplayableEntities = ("Publication");
        Bindings = ();
    };
}