{
    PublicationEntityName = {
        BDSKPersonPboardType = "contributorRelationships.contributor";
        BDSKInstitutionPboardType = "contributorRelationships.contributor";
        BDSKVenuePboardType = "venue";
        BDSKTagPboardType = "tags";
    };
    PersonEntityName = {
        BDSKPublicationPboardType = "publicationRelationships.publication";
        BDSKInstitutionPboardType = "institutionRelationships.institution";
        BDSKTagPboardType = "tags";
    };
    InstitutionEntityName = {
        BDSKPublicationPboardType = "publicationRelationships.publication";
        BDSKPersonPboardType = "personRelationships.person";
        BDSKTagPboardType = "tags";
    };
    VenueEntityName = {
        BDSKPublicationPboardType = "Relationship.";
        BDSKTagPboardType = "tags";
    };
    TagEntityName = {
        BDSKPublicationPboardType = "items";
        BDSKPersonPboardType = "items";
        BDSKInstitutionPboardType = "items";
    };
}